 .u-section-1 {
  background-image: url("images/pexelsphoto3404200.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 264px 651px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 20px 794px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 594px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 12.33% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 510px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 460px;
  background-image: url("images/pexelsphoto2801538.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 87px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-2 .u-image-1 {
    min-height: 290px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 567px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1056px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 215px;
  margin: 14px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 207px;
  min-width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 91px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  --animation-custom_in-scale: 0.3;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 56px auto 0 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 93px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 104px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 347px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-3 .u-text-2 {
    width: 143px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 99px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-4 {
  background-image: url("images/2.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 495px;
}

.u-section-4 .u-group-1 {
  min-height: 280px;
  width: 825px;
  height: auto;
  margin: 44px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  letter-spacing: normal;
  margin: 46px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-4 .u-form-1 {
  height: 109px;
  margin: -54px 315px 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-form-1 {
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2rem;
  }
}